* {
  touch-action: none;
  user-select: none;
}

@font-face {
  font-family: Duality;
  src: url(fonts/Duality.otf);
}
html {
  height: 100%;
  overflow: hidden;
}

.dishes-block {
  margin-top: 250px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.6px);
  -webkit-backdrop-filter: blur(11.6px);
  border: 1px solid rgba(255, 255, 255, 0.11);
}
.cloths {
  margin-top: 20px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.6px);
  -webkit-backdrop-filter: blur(11.6px);
  border: 1px solid rgba(255, 255, 255, 0.11);
}
.reload {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: absolute;
  z-index: 10000;
  cursor: pointer;
  bottom: 65px;
  right: 30px;
}
.reload:hover {
  transform: rotate(180deg);
  transition: 0.5s;
}
body {
  margin-top: 400px;
  padding: 0;
  background: url(pol.png); /* Синий градиент */
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.mainHeader {
  color: #ffffff;
  font-family: Duality;
  letter-spacing: 10px;
  font-size: 56px;
  position: absolute;
  top: 10px;
}
h2 {
  color: #ffffff;
  font-family: Duality;
  letter-spacing: 10px;
  font-size: 26px;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  z-index: 1000;
}

#table {
  width: 800px;
  height: 500px;
  background-image: url("tback.png");
  background-size: cover;
  border: 2px solid #8b4513;
  position: relative;
  z-index: 1000;
  border-radius: 20px;
}
.stul {
  position: absolute;
  width: 200px;
  top: 10px;
}
.stul:nth-child(1) {
  top: 300px;
  left: 200px;
  transform: rotate(60deg);
}

.stul:nth-child(2) {
  top: 280px;
  left: 600px;
  transform: rotate(120deg);
}
.stul:nth-child(3) {
  top: 840px;
  left: 650px;
  transform: rotate(-120deg);
}
.stul:nth-child(4) {
  top: 840px;
  left: 250px;
  transform: rotate(280deg);
}
#dishes,
#tablecloths {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  z-index: 1000;
}

.tablecloth {
  width: 120px;
  height: 120px;
  margin: 10px;
  cursor: grab;
  z-index: 1000;
}
.dish {
  max-height: 80px;
  margin: 10px;
  cursor: grab;
  z-index: 1000;
}

.tablecloth {
  border: 2px solid #ccc;
  z-index: 1000;
}
/* Снежинки (декоративные элементы) */
.snowflake {
  color: white;
  font-size: 1em;
  animation: fall infinite linear;
}

/* @keyframes fall {
  from {
    transform: translateY(-100px);
    opacity: 1;
  }
  to {
    transform: translateY(100vh);
    opacity: 0.3;
  }
}

.snow-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.snow-container .snowflake {
  position: absolute;
} */
